html {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  background-color: rgb(50, 50, 50);
}

body {
  background-color: transparent;
  align-items: center;
  color: silver;
}

h2 {
  color: #00857c;
  text-align: center;
  font-family: Menlo Regular;
}

h4 {
  font-family: Menlo Regular;
  color: cornflowerblue;
}

h5 {
  font-family: Menlo Regular;
  color: lime;
}

h6 {
  margin-top: 1rem;
}

p {
  color: silver;
}

.h6 {
  line-height: 1.6;
}

ol {
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: silver;
}

.myArticles {
  margin: 2rem auto;
  padding: 1rem;
  color: silver;
  border-radius: 0.25rem;
  background-color: transparent;
  width: 75vw;
  max-width: 800px;
  line-height: 1;
}

.myArticles>h1 {
  color: white;
  font-family: Menlo Regular;
  text-align: center;
  text-shadow: 3px 3px black;
}

.myArticles>h3 {
    text-shadow: 1px 1px black;
}

@media (max-width:1400px) {
  .myArticles {
    margin: 1rem auto;
  }
}

#mitLogo {
    opacity: 0.75;
    box-shadow: silver 0px 5px 15px;
    transition: all 0.25s ease-in-out;
}

#mitLogo:hover,
#mitLogo:focus {
    opacity: 1;
    box-shadow: lime 0px 5px 15px;
}

/* Blog CSS Below */
.myBlog {
  margin: 1rem;
  border-radius: 0.25rem;
  background-color: black;
  width: 90vw;
  max-width: 960px;
  line-height: 1.6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.myBlog>div {
  padding: 1rem;
}

.accordion-item,
.accordion-header,
.accordion-collapse,
.accordion-body,
.accordion-button {
  background-color: transparent;
  text-decoration: none;
}

@media (max-width:540px) {

  .narrowText,
  ol>li {
    margin-left: -2rem;
    margin-right: -3rem;
  }

  .row>p {
    margin-left: -0.75rem;
  }
}

.accordion-button {
  gap: 5vw;
  transition: all 0.25s ease-in-out;
  border: 1px solid rgb(38, 38, 38);
}

.accordion-button:hover {
  border: 1px solid lime;
}


h6 {
  color: cornflowerblue;
  font-family: Menlo Regular;
}
.accordion-button>h6 {
  color: #00857c;
}

.profilePic {
    width: 5rem;
    border-radius: 50%;
    margin: 0 2rem -2rem 0;
    opacity: 0.75;
}

/* typeWriter below */
#typeWriter {
    margin: 0 auto;
    width: fit-content;
    padding: 5vh 0;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
}

#typeWriterSection {
    margin-top: 2rem !important;
    background-color: rgb(50, 50, 50);
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    margin-bottom: -3rem;
}

@media (max-width: 635px) {
    #typeWriter>h2 {
        font-size: 4vw;
    }

    #typeWriter>h2 {
        font-size: 1.375rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-width: 500px) {
    #typeWriter>h2 {
        font-size: 1.125rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-width: 350px) {
    #typeWriter>h2 {
        font-size: 0.875rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-height: 500px) {
    #typeWriterSection {
        margin-top: -5vh;
    }
}

@keyframes animationFadeIn {
    0% {
        opacity: 0;
    }

    56.125% {
        opacity: 0;
        transform: scale(0);
    }

    59.125% {
        transform: scale(1);
        opacity: 1;
    }
}

#typeWriter>h2 {
    position: relative;
    width: max-content;
    font-weight: normal;
    font-family: Menlo Regular;
    font-size: 1.75rem;
    letter-spacing: 0.125rem;
    color: silver;
    text-shadow: 1px 1px black;
}

#typeWriter1:before,
#typeWriter1:after,
#typeWriter2:before,
#typeWriter2:after,
#typeWriter3:before,
#typeWriter3:after,
#typeWriter4:before,
#typeWriter4:after,
#typeWriter5:before,
#typeWriter5:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#typeWriter1::before {
    width: 100vw;
    background: rgb(50, 50, 50);
    animation: write 1.5s steps(31) 0.5s forwards;
}

#typeWriter1::after {
    opacity: 1;
    width: 0.15em;
    background: rgb(50, 50, 50);
    animation: write 1.5s steps(31) 0.5s forwards, blink 0.75s reverse steps(31) 3.25;
}

@keyframes write {
    to {
        left: 100%;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
        background: white;
    }

    49.9% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        background: white;
    }

    98% {
        opacity: 1;
        background: white;
    }

    100% {
        opacity: 0;
        background: white;
    }
}

#typeWriter2::before {
    width: 100vw;
    background: rgb(50, 50, 50);
    animation: write 1.25s steps(25) 0.5s forwards;
    animation-delay: 2.5s;
}

#typeWriter2::after {
    opacity: 1;
    width: 0.15em;
    background: rgb(50, 50, 50);
    animation: write 1.25s steps(25) 0.5s forwards, blink 0.75s reverse steps(25) 2.125;
    animation-delay: 2.5s;
}

#typeWriter3::before {
    width: 100vw;
    background: rgb(50, 50, 50);
    animation: write 1.5s steps(31) 0.5s forwards;
    animation-delay: 4.25s;
}

#typeWriter3::after {
    opacity: 1;
    width: 0.15em;
    background: rgb(50, 50, 50);
    animation: write 1.5s steps(31) 0.5s forwards, blink 0.75s reverse steps(31) 3;
    animation-delay: 4.25s;
}

#typeWriter4::before {
    width: 100vw;
    background: rgb(50, 50, 50);
    animation: write 0.5s steps(3) 0.5s forwards;
    animation-delay: 6.25s;
}

#typeWriter4::after {
    opacity: 1;
    width: 0.15em;
    background: rgb(50, 50, 50);
    animation: write 0.5s steps(3) 0.5s forwards, blink 0.75s reverse steps(3) 1;
    animation-delay: 6.25s;
}

#typeWriter5::before {
    width: 100vw;
    background: rgb(50, 50, 50);
    animation: write 0.5s steps(2) 0.5s forwards;
    animation-delay: 7s;
}

#typeWriter5::after {
    opacity: 1;
    width: 0.15em;
    background: rgb(50, 50, 50);
    animation: write 0.5s steps(2) 0.5s forwards, blink 0.75s reverse steps(2) infinite;
    animation-delay: 7s;
}