

body {
  background-color: transparent;
  align-items: center;
  color: silver;
}

h2 {
  color: #00857c;
  text-align: center;
  font-family: Menlo Regular;
}

h4 {
  font-family: Menlo Regular;
  color: cornflowerblue;
}

h5 {
  font-family: Menlo Regular;
  color: lime;
}

h6 {
  margin-top: 1rem;
}

p {
  color: silver;
}

.h6 {
  line-height: 1.6;
}

ol {
  padding: 1rem 1.5rem 1rem 1.5rem;
  color: silver;
}

.myArticles {
  margin: 2rem auto;
  padding: 1rem;
  color: silver;
  border-radius: 0.25rem;
  background-color: transparent;
  width: 75vw;
  max-width: 800px;
  line-height: 1;
}

.myArticles>h1 {
  color: white;
  font-family: Menlo Regular;
  text-align: center;
  text-shadow: 3px 3px black;
}

.myArticles>h3 {
    text-shadow: 1px 1px black;
}

@media (max-width:1400px) {
  .myArticles {
    margin: 1rem auto;
  }
}

#mitLogo {
    opacity: 0.75;
    box-shadow: silver 0px 5px 15px;
    transition: all 0.25s ease-in-out;
}

#mitLogo:hover,
#mitLogo:focus {
    opacity: 1;
    box-shadow: lime 0px 5px 15px;
}

/* Blog CSS Below */
.myBlog {
  margin: 1rem;
  border-radius: 0.25rem;
  background-color: black;
  width: 90vw;
  max-width: 960px;
  line-height: 1.6;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.myBlog>div {
  padding: 1rem;
}

.accordion-item,
.accordion-header,
.accordion-collapse,
.accordion-body,
.accordion-button {
  background-color: transparent;
  text-decoration: none;
}

@media (max-width:540px) {

  .narrowText,
  ol>li {
    margin-left: -2rem;
    margin-right: -3rem;
  }

  .row>p {
    margin-left: -0.75rem;
  }
}

.accordion-button {
  gap: 5vw;
  transition: all 0.25s ease-in-out;
  border: 1px solid rgb(38, 38, 38);
}

.accordion-button:hover {
  border: 1px solid lime;
}


h6 {
  color: cornflowerblue;
  font-family: Menlo Regular;
}
.accordion-button>h6 {
  color: #00857c;
}

.profilePic {
    width: 5rem;
    border-radius: 50%;
    margin: 0 2rem -2rem 0;
    opacity: 0.75;
}