/* typeWriter_sIL media queries and animations below */

@media (max-width: 635px) {
    #typeWriter>h2 {
        font-size: 4vw;
    }

    #typeWriter>h2 {
        font-size: 1.5rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-width: 500px) {
    #typeWriter>h2 {
        font-size: 1.25rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-width: 350px) {
    #typeWriter>h2 {
        font-size: 1rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-height: 500px) {
    #typeWriterSection {
        margin-top: -5vh;
    }
}

@keyframes animationFadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    56.125% {
        opacity: 0;
        transform: scale(0);
    }

    59.125% {
        transform: scale(1);
        opacity: 1;
    }   
}

#typeWriter>#typeWriter1:before,
#typeWriter>#typeWriter1:after,
#typeWriter>#typeWriter2:before,
#typeWriter>#typeWriter2:after,
#typeWriter>#typeWriter3:before,
#typeWriter>#typeWriter3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#typeWriter>#typeWriter1::before {
    width: 100vw;
    background: black;
    animation: write 1s steps(22) 0.5s forwards;
    animation-delay: 4s;
}

#typeWriter>#typeWriter1::after {
    opacity: 1;
    width: 0.15em;
    background: black;
    animation: write 1s steps(22) 0.5s forwards, blink 0.75s reverse steps(22) 2;
    animation-delay: 4s;
}

@keyframes write {
    to {
        left: 100%;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
        background: white;
    }

    49.9% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        background: white;
    }

    98% {
        opacity: 1;
        background: white;
    }

    100% {
        opacity: 0;
        background: white;
    }
}

#typeWriter>#typeWriter2 {
    animation: typeWriter2Fade 7s ease-in-out;
}

@keyframes typeWriter2Fade {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80.9% {
        opacity: 1;

    }

    81% {
        opacity: 1;
    }

    100% {}
}

#typeWriter>#typeWriter2::before {
    width: 100vw;
    background: black;
    animation: write 1.5s steps(28) 0.5s forwards;
    animation-delay: 5.5s;
}

#typeWriter>#typeWriter2::after {
    opacity: 1;
    width: 0.15em;
    background: black;
    animation: write 1.5s steps(28) 0.5s forwards, blink 0.75s reverse steps(28) 3;
    animation-delay: 5.5s;
}

#typeWriter>#typeWriter3 {
    animation: typeWriter3Fade 11s ease-in-out;
}

@keyframes typeWriter3Fade {
    0% {
        opacity: 0;
    }

    59% {
        opacity: 0;
    }

    60% {
        opacity: 1;

    }

    81% {
        opacity: 1;
    }

    100% {}
}

#typeWriter>#typeWriter3::before {
    width: 100vw;
    background: black;
    animation: write 1.5s steps(24) 0.5s forwards;
    animation-delay: 7.5s;
}

#typeWriter>#typeWriter3::after {
    opacity: 1;
    width: 0.15em;
    background: black;
    animation: write 1.5s steps(24) 0.5s forwards, blink 0.75s reverse steps(24) infinite;
    animation-delay: 7.5s;
}