@media (max-height:360px) {
    #welcome {
        margin-top: 1rem;
    }
}

/* Tech Stack */

#welcomeCard1>.card-body>.btnContainer>.btn,
#welcomeCard2>.card-body>.btnContainer>.btn {
    opacity: 1 !important;
}

@media (max-width: 950px) {
    #welcomeCard1>img,
    #welcomeCard2>img {
        margin-top: 3rem;
    }
}

@media (max-width: 575px) {
    #welcomeCard1>img,
    #welcomeCard2>img {
        margin-top: 1.5rem;
    }
}

.myArticlesWelcome>div>img:hover,
.myArticlesWelcome>div>img:focus {
    transform: scale(-1, 1) scale(1);
    opacity: 0.75;
}

#welcomeCard1 {
    transform: translate(-1.5rem) scale(0.9);
}

#welcomeCard2 {
    transform: translate(1.5rem) scale(0.9);
}

#welcomeCard1.shift,#welcomeCard2.shift {
    transform: scale(1) !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

#carouselGDPs>.carousel-inner {
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(50,50,50);
}

@media (max-width:575px) {
    #CarouselGDPs>.carousel-item{
        max-width: 40rem;
        height: 9rem;
    }
    #carouselGDPs {
        margin-bottom: 0;
    }
}

@media (max-width:350px) {
    #CarouselGDPs>.carousel-item{
        max-width: 40rem;
        height: 12.5rem;
    }
}