/* Intro Animations Below */
.animationDropDown {
    color: white;
    animation: animationDropDown 1s ease-in-out;
}

@keyframes animationDropDown {
    0% {
        margin-top: -50vh;
    }

    30% {
        margin-top: 10;
    }

    85% {
        margin-top: 0;
    }
}

.animationSlideFromLeft {
    color: white;
    font-style: italic;
    animation: animationSlideFromLeft 3s;
    letter-spacing: 0.3rem;
    padding-bottom: 1rem;
}

.animationSlideFromLeft>:nth-child(2) {
    color: #00857c;
}

@keyframes animationSlideFromLeft {
    0% {
        margin-left: -200vw;
        letter-spacing: 0;
    }

    30% {
        margin-left: -150vw;
        letter-spacing: -0.125rem;
    }

    40% {
        margin-left: -125vw;
        letter-spacing: -0.125rem;
    }

    90% {
        margin-left: 30vw;
        letter-spacing: -0.4rem;
    }

    95% {
        letter-spacing: 0.4rem;
    }
}

.animationExpand {
    animation: animationExpand 3.25s ease-in;
    color: lime;
}

@keyframes animationExpand {
    0% {
        opacity: 0;
        font-size: 0rem;
    }

    59% {
        opacity: 0;
        font-size: 0rem;
    }

    79% {
        opacity: 0;
        font-size: 0rem;
    }

    80% {
        opacity: 1;
        font-size: 0.1rem;
    }

    89% {
        font-size: 2.5rem;
    }
}

.animationTurnGreen {
    animation: animationTurnGreen 3.25s ease-in-out;
    color: lime;
}

@keyframes animationTurnGreen {
    0% {
        color: #00857c;
    }

    89% {
        color: #00857c;
        font-size: 2rem;
    }

    90% {
        color: lime;
        font-size: 2.5rem;
    }
}

.animationTurnOpaque {
    animation: animationTurnOpaque 4s ease-in-out;
    opacity: 0.3;
}

@keyframes animationTurnOpaque {
    0% {
        opacity: 1;
    }

    76% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.animationBorder {
    border: 1px solid lime;
    border-radius: 0.125rem;
    animation: animationBorder 4.25s ease-in-out;
}

@keyframes animationBorder {
    0% {
        border: none;
    }

    66% {
        border: none;
    }

    71% {
        border: 8px solid lime;
    }

    100% {
        border: 1px solid lime;
    }
}

/* Intro Animations Above */