/* cTLTypewriter codeTrackLift below */
@media (max-width: 635px) {
    h2 {
        font-size: 4vw;
    }

    h2 {
        font-size: 1.5rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-width: 580px) {
    #cTLTypewriterSection {
        margin-top: 0 !important;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 1.25rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-width: 350px) {
    h2 {
        font-size: 1rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-height: 500px) {
    #cTLTypewriterSection {
        margin-top: -5vh;
    }
}

#cTLTypewriter1:before,
#cTLTypewriter1:after,
#cTLTypewriter2:before,
#cTLTypewriter2:after,
#cTLTypewriter3:before,
#cTLTypewriter3:after,
#cTLTypewriter4:before,
#cTLTypewriter4:after,
#cTLTypewriter5:before,
#cTLTypewriter5:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#cTLTypewriter1::before {
    width: 100vw;
    background: rgb(50, 50, 50);
    animation: cTLWrite 1s steps(15) 0.5s forwards;
}

#cTLTypewriter1::after {
    opacity: 1;
    width: 0.15em;
    background: rgb(50, 50, 50);
    animation: cTLWrite 1s steps(15) 0.5s forwards, cTLBlink 0.75s reverse steps(15) 2.25;
}

@keyframes cTLWrite {
    to {
        left: 100%;
    }
}

@keyframes cTLBlink {
    0% {
        opacity: 0;
        background: white;
    }

    49.9% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        background: white;
    }

    98% {
        opacity: 1;
        background: white;
    }

    100% {
        opacity: 0;
        background: white;
    }
}

#cTLTypewriter2::before {
    width: 100vw;
    background: rgb(50, 50, 50);
    animation: cTLWrite 0.5s steps(9) 0.5s forwards;
    animation-delay: 2s;
}

#cTLTypewriter2::after {
    opacity: 1;
    width: 0.15em;
    background: rgb(50, 50, 50);
    animation: cTLWrite 0.5s steps(9) 0.5s forwards, cTLBlink 0.75s reverse steps(9) 1.25;
    animation-delay: 2s;
}

#cTLTypewriter3::before {
    width: 100vw;
    background: rgb(50, 50, 50);
    animation: cTLWrite 1s steps(16) 0.5s forwards;
    animation-delay: 3s;
}

#cTLTypewriter3::after {
    opacity: 1;
    width: 0.15em;
    background: rgb(50, 50, 50);
    animation: cTLWrite 1s steps(16) 0.5s forwards, cTLBlink 0.75s reverse steps(16) 2;
    animation-delay: 3s;
}

#cTLTypewriter4::before {
    width: 100vw;
    background: rgb(50, 50, 50);
    animation: cTLWrite 1s steps(16) 0.5s forwards;
    animation-delay: 4.5s;
}

#cTLTypewriter4::after {
    opacity: 1;
    width: 0.15em;
    background: rgb(50, 50, 50);
    animation: cTLWrite 1s steps(16) 0.5s forwards, cTLBlink 0.75s reverse steps(16) 2;
    animation-delay: 4.5s;
}

#cTLTypewriter5::before {
    width: 100vw;
    background: rgb(50, 50, 50);
    animation: cTLWrite 0.25s steps(1) 0.5s forwards;
    animation-delay: 5.75s;
}

#cTLTypewriter5::after {
    opacity: 1;
    width: 0.15em;
    background: rgb(50, 50, 50);
    animation: cTLWrite 0.25s steps(1) 0.5s forwards, cTLBlink 0.75s reverse steps(1) infinite;
    animation-delay: 5.75s;
}