/* sILTypewriter_sIL media queries and animations below */

@media (max-width: 635px) {
    h2 {
        font-size: 4vw;
    }

    h2 {
        font-size: 1.5rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 1.25rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-width: 350px) {
    h2 {
        font-size: 1rem !important;
        letter-spacing: normal !important;
    }
}

@media (max-height: 500px) {
    #sILTypewriterSection {
        margin-top: -5vh;
    }
}

@keyframes animationFadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    56.125% {
        opacity: 0;
        transform: scale(0);
    }

    59.125% {
        transform: scale(1);
        opacity: 1;
    }   
}

#sILTypewriter1:before,
#sILTypewriter1:after,
#sILTypewriter2:before,
#sILTypewriter2:after,
#sILTypewriter3:before,
#sILTypewriter3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#sILTypewriter1::before {
    width: 100vw;
    background: black;
    animation: sILWrite 1s steps(22) 0.5s forwards;
    animation-delay: 4s;
}

#sILTypewriter1::after {
    opacity: 1;
    width: 0.15em;
    background: black;
    animation: sILWrite 1s steps(22) 0.5s forwards, sILBlink 0.75s reverse steps(22) 2;
    animation-delay: 4s;
}

@keyframes sILWrite {
    to {
        left: 100%;
    }
}

@keyframes sILBlink {
    0% {
        opacity: 0;
        background: white;
    }

    49.9% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        background: white;
    }

    98% {
        opacity: 1;
        background: white;
    }

    100% {
        opacity: 0;
        background: white;
    }
}

#sILTypewriter2 {
    animation: sILTypewriter2Fade 7s ease-in-out;
}

@keyframes sILTypewriter2Fade {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    80.9% {
        opacity: 1;

    }

    81% {
        opacity: 1;
    }

    100% {}
}

#sILTypewriter2::before {
    width: 100vw;
    background: black;
    animation: sILWrite 1.5s steps(28) 0.5s forwards;
    animation-delay: 5.5s;
}

#sILTypewriter2::after {
    opacity: 1;
    width: 0.15em;
    background: black;
    animation: sILWrite 1.5s steps(28) 0.5s forwards, sILBlink 0.75s reverse steps(28) 3;
    animation-delay: 5.5s;
}

#sILTypewriter3 {
    animation: sILTypewriter3Fade 11s ease-in-out;
}

@keyframes sILTypewriter3Fade {
    0% {
        opacity: 0;
    }

    59% {
        opacity: 0;
    }

    60% {
        opacity: 1;

    }

    81% {
        opacity: 1;
    }

    100% {}
}

#sILTypewriter3::before {
    width: 100vw;
    background: black;
    animation: sILWrite 1.5s steps(24) 0.5s forwards;
    animation-delay: 7.5s;
}

#sILTypewriter3::after {
    opacity: 1;
    width: 0.15em;
    background: black;
    animation: sILWrite 1.5s steps(24) 0.5s forwards, sILBlink 0.75s reverse steps(24) infinite;
    animation-delay: 7.5s;
}